[2016-01-13 22:24] vivekthampy opened #7 "Separating images by events"
Right now get_fastccd_images gets the whole stack of images into one numpy array. Think it might be useful to have that broken up by events to plot scans (such as energy scans).

Working on this right now.

[2016-01-14 14:06] stuwilkins commented on #7
Vivek… lets discuss first what we want with @ambarb and @cmazzoli and me before coding.

From: vivekthampy <notifications@github.com<mailto:notifications@github.com>>
Reply-To: NSLS-II-CSX/csxtools <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, January 13, 2016 at 5:24 PM
To: NSLS-II-CSX/csxtools <csxtools@noreply.github.com<mailto:csxtools@noreply.github.com>>
Subject: [

[2016-01-14 17:24] tacaswell commented on #7
There is code for this in csxtools ex https://github.com/NSLS-II-CSX/csxtools/blob/master/csxtools/image_corr.py#L50

and this notebook : https://github.com/NSLS-II-CSX/notebooks/blob/add_csx/23-ID-1/image_correction_basic_xpcs_multitau.ipynb

[2016-02-09 22:39] danielballan opened #14 "Tag?"
@stuwilkins Are you ready to tag a release? If so, I will deploy it on Jupyterhub. cc @vivekthampy

[2016-02-10 00:54] stuwilkins commented on #14
Once @vivekthampy rebases again against master and does the comments on the pull request I will tag.

[2016-02-11 01:46] #7 closed

[2016-02-13 19:11] stuwilkins commented on #14
Tagged v0.1.0 today. Thanks @danielballan !

[2016-02-13 19:11] stuwilkins commented on #14
Attn @vivekthampy @cmazzoli @ambarb

This is now on the jupyter hub for all to use.

[2016-02-13 19:11] #14 closed

[2016-02-25 19:37] stuwilkins opened #32 "Vivek's Requests"

[2016-02-25 19:37] stuwilkins commented on #32
@stuwilkins This works great for the most part so far. One issue that needs to be addressed is dealing with scans where the number of images per event are different. This can arise either if a scan is aborted, or if you want to process two different scans together which have different number of images per event. The second issue can be addressed by processing the scans separately and concatenating

[2016-02-25 19:37] stuwilkins commented on #32
@vivekthampy @tacaswell Moving off wishlist not to spam everyone.

[2016-02-25 19:43] stuwilkins commented on #32
@vivekthampy Your request is handled in ``csxtools`` now. It does not return a 4d array, but an interable over all events which has a pims object for each event. This means that you CAN do a different number of points per event ok

The ROI issue can be handled both by streaming (which is now implemented thanks to @tacaswell and @danielballan) and (@sameera2004 has done a really nice job on the mul

[2016-02-25 19:58] vivekthampy commented on #32
I get this error with the current CSX (stable) kernel:

https://gist.github.com/vivekthampy/5a23f53efbf08a419ec1

[2016-02-25 20:03] danielballan commented on #32
I believe you may be using the wrong value for the tag argument. Is it now simply `'fccd_image'`? Also, you'll be glad to know that that error message has been made less cryptic in a soon-to-be-released update to databroker. It means that no data was found and the array has size 0.

[2016-02-25 20:11] vivekthampy commented on #32
This is for old LBCO data, where the tag argument was 'fccd_image_lighfield'. I also tried with the 'fccd_image' tag, but that doesn't work either (this time with databroker crashing).

The problem here is, as far as I can tell, stacking multiple 3D arrays into a 4D array if the 3 dimensions are not identical.

See attached notebook example for both these problems:

https://gist.github.com/vivekth

[2016-02-25 20:30] stuwilkins commented on #32
@vivekthampy which versions are you running... not able to reproduce here.

[2016-02-25 20:31] stuwilkins commented on #32
Also @vivekthampy is is ``fccd_image_lightfield``

[2016-02-25 20:37] stuwilkins commented on #32
No problem here:

https://nbviewer.jupyter.org/gist/stuwilkins/1a1651eb75e5dd24aa61

[2016-02-25 20:52] tacaswell commented on #32
You can always look at `head.descriptors` to see what the data keys are.

On Thu, Feb 25, 2016 at 3:37 PM Stuart Wilkins <notifications@github.com>
wrote:

[2016-02-25 21:10] vivekthampy commented on #32
That was a typo. I did mean 'fccd_image_lightfield'.

It must be a version error. I am using the csxtools version in the default CSX (stable) kernel. What version are you using, @stuwilkins ?

[2016-02-25 21:18] stuwilkins commented on #32
Let me know what version you are running and I will compare. I have 0.1.4. I thought you were running a custom kernel anyway?

[2016-02-25 21:57] vivekthampy commented on #32
Version '0.1.0'

This is the version tagged in the CSX stable kernel, I suppose. I do have a custom kernel which I normally use. But I am trying to test the standard kernel as well, to have easily sharable notebooks.

[2016-02-26 00:47] stuwilkins commented on #32
@vivekthampy let's make sure that it works with the latest tag (stable release) on master and then we can work on getting the correct version on Jupyterhub.

[2016-02-26 13:11] stuwilkins commented on #32
@vivekthampy I just tagged version 0.1.5. Are you putting any pull requests in to expand the code? Attn @mpmdean

[2016-02-26 13:19] vivekthampy commented on #32
Yes. I'll put in a pull request later today.

[2016-02-28 14:59] stuwilkins commented on #32
Still waiting .... @vivekthampy (@mpmdean)

[2016-02-28 16:42] vivekthampy commented on #32
I'm testing a few things out. Will commit and make pull request by end of day @stuwilkins

[2016-03-01 10:26] stuwilkins opened #34 "Make lazy HDF5 handler and option to only read an ROI"

[2016-03-02 05:57] vivekthampy opened #38 "Bug report - get_fastccd_images"
@stuwilkins The program crashes if the background scan headers have events with different number of images. The crashing function is get_images_to_4D.

https://gist.github.com/vivekthampy/71d110d899f68a61150a

One solution that works for me is using the the function below instead of get_images_to_4D.

[code]

[2016-03-02 11:38] stuwilkins commented on #38
Why would you do that?

On Mar 2, 2016, at 12:57 AM, vivekthampy <notifications@github.com<mailto:notifications@github.com>> wrote:

@stuwilkins<https://github.com/stuwilkins> The program crashes if the background scan headers have events with different number of images. The crashing function is get_images_to_4D.

https://gist.github.com/vivekthampy/71d110d899f68a61150a

One solution that works fo

[2016-03-02 12:24] stuwilkins commented on #38
Despite not being the normal CSX workflow, I have fixed this now. This is tagged as v0.1.8. Once it is built I will put it on the jupyter hub for all users. @vivekthampy can you test again? I ran this through your scans and it seems to work.

[2016-03-02 12:24] #38 closed

[2016-03-02 12:24] #32 closed

[2016-03-02 16:28] ambarb opened #40 "Error handler text refers to incorrect gain setting for get_fastccd_images"
Should swap the text for missing dark images regarding bgnd2 and bgnd1.  Instead, maybe look at gain bits directly for WARNING text.  In example below, 59112 is gain 2 setting.

[code]

VS

[code]

[2016-03-02 16:47] stuwilkins commented on #40
Fixed for issue #40

[2016-03-04 03:41] tacaswell commented on #40
@stuwilkins Your references are circular

[2016-03-04 12:11] stuwilkins commented on #40
@tacaswell fixed ... see above

[2016-03-28 00:23] mpmdean opened #45 "Should stacksum return a warning if encounters NaN's?"
We might consider raising a warning if stacksum encounters NaN's:

"stacksum encountered NaN values and excluded these values from the sum effectively assuming NaN = 0.
Consider using the number of points, which is returned as the second argument in the tuple, to renormalize the image."

[2016-03-28 16:26] tacaswell commented on #45
The PR looks reasonable, but in general warnings are never read.  If you want to get peoples attention, raise an exception.

[2016-05-07 19:13] #40 closed

[2017-08-12 00:15] stuwilkins opened #55 "Create hooks for automatically reading dark images"

[2017-08-12 00:15] #34 closed

[2017-08-12 00:16] stuwilkins opened #56 "Refactor to align with changes in databroker"

[2017-09-10 18:40] danielballan commented on #56
As far as you know, is csxtools broken by our API changes, invoking our deprecations, or none of the above?

[2017-09-10 18:41] stuwilkins commented on #56
All of the above

[2017-09-10 18:43] danielballan commented on #56
OK. If this is disruptive to user operations and you lack the bandwidth to address it in time, I'm willing to help.

[2017-09-11 00:14] stuwilkins commented on #56
@danielballan don't worry, I think it is good that I (we) have to change this. I will work on this from home wed/thurs to get all inline. I may need help with handlers etc? Where is the idea of adding a config file for defining how the handlers get assigned to specs? That is by biggest need at the moment in this respect (CSXTOOLS)

[2017-09-11 00:15] stuwilkins commented on #56
Oh and we do need to get FastCCD data into databroker correctly....

[2017-09-11 12:45] danielballan commented on #56
Nominally implemented and deployed, but when I looked up the relevant code to back up on that claim, I found that it's undocumented, untested, and broken. All those problems are addressed in https://github.com/NSLS-II/databroker/pull/305, which will be merged and deployed at CSX today.

[2017-09-11 12:45] danielballan commented on #56
With regard to the timing of when documents are created?

[2017-09-13 15:19] ambarb opened #57 "[ENH] Make movie function more flexible"
`image_stack_to_movie()` suggestions
* option to change title  (could be time and not frames)
* option to write file to disk.  some web browsers are configured to prevent download by sysadmins

[2018-01-08 15:37] danielballan commented on #56
csxtools still has a filestore import, which made it un-importable in the 2017-3 conda environment. It would be nice to fix it in time for 2018-1. Do you need help with that?

[2018-01-08 15:38] danielballan commented on #56
attn @wen-hu

[2018-03-27 17:40] mpmdean opened #60 "Cannot specify more than one dark image in get_fastccd_images"
The current srv1 kernal on CSX cannot specify more than one dark image in get_fastccd_images

`
from databroker import DataBroker as db
from csxtools.utils import get_fastccd_images

old_scan_no = 85528
slicerator = get_fastccd_images(db[old_scan_no], (db[old_scan_no-1, old_scan_no+1], None, None))
`

Throws an error

AttributeError Traceback (most recent call last)
in ()
3
4 old_scan_no = 85528
-

[2018-03-28 13:29] stuartcampbell commented on #60
@licode Can you have a look into this ?

[2018-03-28 17:25] licode commented on #60
sure, I am on this.

[2018-03-29 15:06] licode commented on #60
I think this should work
[code]
(db[old_scan_no-1,old_scan_no+1], None, None) is not 1d tuple.

[2018-03-29 20:10] mpmdean commented on #60
I think we're in agreement. The code was changed from using the get_table function imported at the start of the module to access the same functionality via the .table() attribute of the input object.

Maybe there are some speed or other reasons for this? If not, my instinct would be to put it back as it was?

[2018-03-30 16:15] licode commented on #60
sounds good. hdr.db.get_images should work with multiple headers, because nothing changed in db.get_images, we just linked it back to hdr. We only need a quick fix in csxtools. I am working a PR on this.

[2018-03-30 20:49] licode commented on #60
https://github.com/NSLS-II-CSX/csxtools/pull/61

[2018-04-04 14:40] mpmdean opened #62 "image_stack_to_movie bug in srv1"
The latest csxtools version on srv1 seems to have a bug in the image_stack_to_movie function.
[code]

[code]

[2018-04-04 15:09] tacaswell commented on #62
is ffmpeg installed on the server?

[2018-04-04 15:11] mpmdean commented on #62
@tacaswell I don't know. All I can say is that other kernals on srv1 do work. e.g. CSX on srv1 (legacy 2017-2 v0)

[2018-04-04 15:15] tacaswell commented on #62
xref https://github.com/matplotlib/matplotlib/issues/9205

[2018-04-04 15:18] tacaswell commented on #62
and xref https://github.com/matplotlib/matplotlib/issues/8760

[2018-04-04 15:32] tacaswell commented on #62
I also get these warnings

[code]

[2018-04-04 16:48] tacaswell commented on #62
The issue is that:

 a) we are hitting the system ffmpeg
 b) this version of debian provides a ffmpeg which is  shim around avconv
 c) due to avconv being a hostile fork of ffmeg the cli of the two projects is diverging (which is how Matplotlib accesses them to save the movies) Matplotlib tried to ban the usage of the shims.
 d) The ban was implemented between 2.0.1 and 2.0.2 (https://github.com/m

[2018-04-05 13:49] licode commented on #62
During debugging process, we also find conflicts within several libraries in order to update matplotlib to newer version. So the current solution is to update packages at srv1 during beam shutdown time, will keep updated here.

[2018-08-29 16:36] ambarb commented on #62
What happened with this?  We have rolled on to a new version of the conda env and still have this issue, but maybe now it is a different issue?

I find this now to be a problem for srv1 and 2 using (current), which I believe to be:
analysis-2018-2.1        /opt/conda_envs/analysis-2018-2.1
I also see this with srv3, same conda environment version.

matplotlib:  '2.2.2'
csxtools:    '0.1.13'

These

[2018-08-29 16:41] ambarb commented on #60
Tested
/opt/conda_envs/analysis-2018-2.1)
csxtools:  '0.1.13'

tested before debian 7 upgrade to 8 and it still seemed problematic.

tested this week after debian upgrade to 8 on all 3 servers and not this functionality appears to work without issue.

[2018-08-29 16:41] #60 closed

[2018-08-29 16:44] ambarb commented on #62
note that srv3 gives a different traceback

[code]

[2018-10-04 15:03] mpmdean opened #63 "get_images function throws depreciation error"
get_fastccd_images calls the decepricated get_images function rather than accessing via the databroker

using CSX on srv2 (current) kernal:

[code]

[2018-10-04 15:23] mpmdean opened #64 "make csx tools load multiple scan_ids"
Should csxtools be able to handle passing more than I scanid to db as below?
[code]

[2018-10-04 19:44] licode commented on #64
I think this is implemented (https://github.com/NSLS-II-CSX/csxtools/commit/8a4e8ca17369e64136e6fdad9f57cb6ba97aee5f), but we didn't release the new version yet. I am going to add a new version number, and try to update csxtools in the current conda env.

[2018-11-07 15:14] danielballan commented on #64
This fix was released in 0.1.14 and deployed.

[2018-11-07 15:22] licode commented on #64
We didn't deploy it yet. I will test more before deploying it. It looks like we don't have enough test in this repo.

[2018-11-07 15:29] mpmdean commented on #64
Thanks.

[2018-11-07 15:33] mpmdean commented on #45
I should have closed this a while ago, but am doing so now.

[2018-11-07 15:33] #45 closed

[2018-11-26 20:59] mpmdean commented on #64
I just checked this on CSX srv1 (current) and CSX srv2 (current) kernels and it returns a similar error. Maybe we can re-open this until it's deployed?

[2018-12-06 16:00] ambarb opened #65 "image_stack_to_movie is broken"
At one point, widgets were broken in jupytherhub, but now we are conda env associated with 2018-3.  This function looks to be very broken at this point.

`ValueError: Invalid file object: <_io.BufferedReader name=65>` is the Exception, but I tried with just 10 images that were just a portion of the FastCCD image, so the problem is not with the input array.

Also not there are some requested enhanc

[2018-12-06 16:02] ambarb commented on #65
https://github.com/NSLS-II-CSX/csxtools/issues/62 is the original issue so I am closing this.

[2018-12-06 16:02] #65 closed

[2019-01-02 22:38] ambarb commented on #62
came back to the problem with matplotlib at 2.2.2

ffmpeg was not installed on the computer and as Tom said, we cannot use the ffmpeg in python.  This is the workaround that  I found because the lines of code he provided still didn't work for me.

1) update apt-get and install ffmpeg on the server. (on srv1 only.  still need to do this for srv2)
2) using the "current" srv1 kernel,  add the followi

[2019-01-02 23:01] ambarb commented on #62
to download movie, use Classic Notebook View, under Help

[2019-07-04 22:47] ambarb opened #66 "get_fastccd_images cannot process all instances of recorded data"
For this

[code]

the last data set has darks with requested number of images = 2500, but the scan was stopped before it finished (2133).  This will be a problem for data collected with swimmer, data that we ask DAMA to edit the database because we are missing the table information, and so on.  In this case, we have the table information.  I'm not sure what happens if we ^C a motor scan....maybe i

[2019-10-17 18:59] leofang commented on #55
I had a discussion with @wen-hu recently on this, and I don't think this is possible unless the scan IDs of the dark images are recorded somewhere, say in the RE plan. In particular, there could be several scans that share the same set of dark images, and unfortunately the (hypothetical) hook would have no way to infer this without it being stored in Databroker.

I took it upon myself to close thi

[2019-10-17 19:05] mrakitin commented on #55
https://github.com/bluesky/bluesky-darkframes may be a solution to the problem.

[2019-10-17 19:07] mpmdean commented on #55
I don't really see why this is said to be impossible. There are many options, but my first reaction would be that when collecting a dark via:
ct_dark()
and ct_dark_all()
the macros automatically pass md=dict(dark=True) or similar to label the scans as dark in the databroker.

We could then search backwards in time from the header describing the data and find use the first dark scan that it finds.

[2019-10-17 19:17] leofang commented on #55
Thanks, @mrakitin. I wasn't aware of this. This info is enough for reopening this issue.

I am not sure I understand your reply correctly, but there are two potential issues based on my (very limited) understanding -- correct me if I'm wrong:
1. Any hook created from this point is incompatible with existing scans, unless one goes through the entire CSX db and places the labels
2. Search backward i

[2019-10-17 19:42] #64 closed

[2019-10-17 19:49] mpmdean commented on #55
For 1.

I think the function should provide options
1. Specify the dark header
2. Search for the header
3. Don't to a dark correction
4. Specify a light field correction
5. Search for a light field correction
6. Don't do a light field correction

Since the option to specify the dark and light corrections would remain, even if the search functions were not backward compatible, they would still be v

[2019-10-17 20:30] ambarb commented on #55
db[122918].start['fccd']

returns all the information for a dark scan.  This work was started when I left to SIX and not completed.

[2019-10-17 20:32] ambarb commented on #55
additionally, I added inout to the baseline so someone can troubleshoot or confirm that the beam is being block.

I am happy to discus what the original intention of the issue report was and why it is needed.  we need to be careful in out I is implemented because it relates to the 5-way light source project and the automatic digestion images for this an other projects that rely heavily on automati

[2019-10-18 15:20] leofang commented on #55
@mpmdean The "function" you suggested definitely works. But it'd no longer be a "hook" that is fully automated; substantial human intervention would be needed, and in the end one might as well just type in the dark IDs directly (as we do now). I am as skeptical as @ambarb in the automation regard.

[2019-10-18 15:45] mpmdean commented on #55
If the function was created any user who takes care to collect the dark images with labels will have an automated experience for all their future experiments.

I'd emphasize that users currently have to keep track of four other scans to provide a full correction (darks field correction 3 gains plus a light field correction).

I'd argue that there's not much point in having the databroker infrastru

[2019-10-18 15:49] leofang commented on #55
Yes, I agree 100% that we need to write some info related to dark + light into Databroker as the first step.

[2019-10-24 17:37] ambarb commented on #55
We do this already.  Things are there to confirm what is a dark image (double redancy available for different devices) and what the gain setting is.

One way to limit the database searching is to use the start document key associated with the user group +/- 2 days or maybe the sample description.  I tried this search already for data 6 months ago and it was as if the data was collected that day.

[2020-01-21 17:39] ambarb commented on #55
some recent progress with @danielballan @jklynch and @mrakitin .  Preliminary data with just one dark stream (autogain) are available for testing.  WE would also like to retain current functionality to point to either primary stream data or dark stream data in a user defined scan number.

branch is in @danielballan fork

tested multiple darks without setting gain, and nothing alarming happened.  w

[2020-01-21 18:44] mpmdean commented on #55
I'm trying to find the branch in question and https://github.com/danielballan/csxtools looks like it hasn't been updated in a rather long time.

[2020-01-21 19:31] ambarb commented on #55
The hooks are created in the profile so the database is marked correctly.  There is no code yet in any fork of csxtools that I know about to deal with these new data streams.  As far as updating the beam line's python profile to create new streams, 1 of 4 streams are complete in dan's repo of the profile.  It is still a "prototype"

[2020-01-21 21:43] mrakitin commented on #55
See https://github.com/NSLS-II-CSX/xf23id1_profiles/pull/32 for details.

[2020-01-31 21:29] leofang opened #68 "AttributeError: 'ImageStack' object has no attribute 'T'"
@wen-hu needs the flatfield support to process some ptychography datasets, but I found an error with the latest csxtools (0.1.15):
[code]
Seems like `image` in `_crop` is assumed to be a numpy array but it actually isn't (or is not handled correctly by `@pipeline`). Perhaps we can hot-fix it by not doing a `rotate90` or `np.rot90` to avoid transpose (`T`) operation to the flatfield? But not sure i

[2020-02-01 04:37] leofang commented on #68
This will make the obtained `silcerator` work with `get_images_to_3D`/`get_images_to_4D` (note the casting). Should I create a PR?
[code]

[2020-02-01 13:06] ambarb commented on #68
@leofang I know @stuwilkins wanted to rotate the images at particular times.  Maybe you can speak with him.

I haven't had issues with the flatfield myself.  What version of csxtool are you and @wen-hu using?

[2020-02-06 23:09] ambarb commented on #68
@leofang.  Sorry, I did not see the version that you provided.

 I am using 0.1.13 csxtools and my code implementation of the flat field works correctly.
Can you point me to the version that you are speaking about?   I would like to test my notebooks agains this version.

Also, there is discussion with @danielballan @mrakitin and @jklynch to put data streams that contact a fully correct flatfield.

[2020-02-06 23:10] ambarb commented on #68
note this is this discussion of the flatfield stream is to make things play nicely with xi-cam

[2020-02-06 23:14] ambarb commented on #68
Disregard location of version.  I see that master is at 0.1.15 and just has not been pushed to the facilities current standard conda version for analysis at CSX.  I will clone and update so I can test my notebooks.

[2020-02-07 03:56] leofang commented on #68
Oh, Andi, sorry for my long silence! I just found the notification from my GitHub email sea 😅

Yes, I used 0.1.15 to test it. Please try it with the reproducer from https://github.com/NSLS-II-CSX/csxtools/issues/68#issue-558382278.

Also, please let me know how you made it work with 0.1.13, so that I can investigate further. It could be that I was misled by the documentation and used the API wrong

[2020-02-10 22:10] ambarb opened #69 "KeyError: 'AD_HDF5' for 1.14 for get_fastccd_flatfield() and get_fastccd_images()"
Conda packages for csx analysis from 2019-1.2 works okay on this and other functions.
databroker 0.12.0
csxtools 0.13.0

Using conda packages for csx analysis from 2019-3.0.
databroker 0.13.0
csxtools 0.14.0

Will show flatfield function and then standard images functions (without flatfield).  Note that flatfield uses `get_fastccd_images()` so this is likely the problem.  This is different from wh

[2020-02-10 22:19] mrakitin commented on #69
I think it's the fix we implemented in 0.1.15:
https://github.com/NSLS-II-CSX/csxtools/compare/v0.1.14...v0.1.15

Any good time this week to install the latest csxtools and test it? What's the affected machine?

[2020-02-10 22:20] ambarb commented on #68
I as on vacation part of last week.  For 0.1.13, you can get the flatfield to generally work with
[code]

YOu should be able to just copy and paste to test in the conda env for CSX analysis from 2019-1.2 ("current" on nsls-ii notebook jupyternub)

There are options to the function like`flat=fccd_mask(), limits=(0.8, 1.2)`, but they are not required, and the `fccd_mask()` is no longer valid unless

[2020-02-10 22:21] ambarb commented on #68
This of course, I think has been fixed in 1.15, but it is a reference for the "whole" story.

[2020-02-10 22:28] ambarb commented on #69
Thanks @mrakitin I see that now.  I am trying to install the latest on my conda environment. However, I think it is important for me to understand what broke when and how the last series of  changes to CSXtools since April to made the flatfield not work.  flatfield is dependent on get_fastccd_images.

We can install whichever conda environment release you would like on srv1, but we should not make

[2020-02-10 22:30] mrakitin commented on #68
Looks like the current is older:
![image](https://user-images.githubusercontent.com/13209176/74196217-c70bd400-4c2a-11ea-858f-03d89f4e7ba6.png)

Also, I get an error for undefined `h`. What should it be?
[code]

[2020-02-10 22:38] ambarb commented on #68
oops.  i added the line you need

[2020-02-10 22:42] mrakitin commented on #69
I am getting a different error in your environment on xf23id1-srv1 machine:
[code]
Was the reported error coming from that env?

[2020-02-10 22:45] ambarb commented on #68
`!which python` is cute. Thanks.  I was just importing the packages and looking at the version numbers in the bash session.  I forgot to confirm with the notebook itself.

[2020-02-10 22:48] mrakitin commented on #68
Yes, the fastest way to get your path. I sometimes use:
[code]
but it's longer to type.

As for the example, it works for me now, but returns this (I assume it's OK):
[code]

[2020-02-10 23:00] ambarb commented on #69
yes.  I cloned the conda environment associated with  2019-3.0 and then set up the jason file in my directory.  Do you want more info on that?

[2020-02-10 23:09] ambarb commented on #68
YEs, that is correct. There was a issue for that, but it was closed after some changes before christmas.

[2020-02-11 01:35] mrakitin commented on #69
I did that, and the csxtools v0.1.14 is indeed broken. When I installed the latest version v0.1.15, it worked:
[code]
I think it would be best to update the `analysis-2019-3.0-csx` environment, and test it. As far as I saw, the "current" kernel wasn't `analysis-2019-3.0-csx`. Is it right?

[2020-02-11 01:40] mrakitin commented on #69
Btw, I copied csxtools 0.1.15 to the channel https://conda.nsls2.bnl.gov/conda/nsls-ii-2019C3.0, so it should be possible to update it with no issues (previously, only v0.1.14 was available).

[2020-02-11 17:16] danielballan commented on #68
If there is confusion about which Python you are currently in, use `import sys; sys.executable` which is always correct. Running `!which python` will often work but it is easy to come up with scenarios where the first `python` on the `PATH` is not the currently-running `python`.

[2020-02-11 17:36] leofang commented on #68
@ambarb @mrakitin Thanks for the discussion. I think the problem in my reproducer was that I also set `roi` in `get_fastccd_images()`. Due to this piece of code https://github.com/NSLS-II-CSX/csxtools/blob/81a64d76074bafff012afcb23119b50ccd3aaa50/csxtools/utils.py#L125-L127
the `_crop()` function was invoked and hence led to the reported error, which can be fixed by the patch (https://github.com/N

[2020-02-11 17:46] ambarb commented on #68
@leofang thanks for explaining your use case with the rod.  _crop was added as a way to deal with memory issues of large data sets.  After lazy loading was added, this was no longer a problem.  Does the cropping save that much time?

As for the rotation, I will have a look, but the output from  `get_fastccd_flatfield()` is the raw results as seem from the camera's perspective.  We have the camera

[2020-02-11 18:22] ambarb commented on #69
nice.  I was running into to some compatibility issues.

[2020-02-11 18:22] #69 closed

[2020-02-11 18:52] ambarb commented on #68
@leofang To keep our existing workflow described, do you think we need to think about refactoring the roi argument usage so that we are more future proof to the camera configurations?

[2020-02-11 21:37] leofang commented on #68
Thanks for the detailed explanation, Andi! I think as long as the `roi` argument is clearly documented we should be fine.

I know almost nothing about the experimental setup, so by inspecting the code currently I see two problems:
1. The `_crop` function makes no sense to me:
https://github.com/NSLS-II-CSX/csxtools/blob/81a64d76074bafff012afcb23119b50ccd3aaa50/csxtools/utils.py#L212-L216
where the

[2020-02-12 17:30] ambarb commented on #68
I see your point for the rotation.  I am doing some image math to make sure that this is brought out by some analysis.  Almost finished with it and will update here.

[2020-02-12 17:32] ambarb commented on #68
I suggest we make a new issue report for the roi and leave it as an enhancement. I think whomever wants to tackle this will have to also keep in mind the "future proof-ness" of it and the plans to add metadata for concatenating the normalized images to be done by wrapper function or optional argument for `get_fastccd_images()`

Any objections to this approach?

[2020-02-12 17:52] leofang commented on #68
Sounds good. Let me know if it is indeed a bug.

I suppose we could just rename the title of this issue to indicate this is an `roi`-related problem? Without specifying `roi` it seems to be fine after all (apart from the possible rotation issue).

[2020-02-12 18:26] ambarb commented on #68
I don't think there is a bug.  Images E and F are 100% manual flatflield correction to the data used to generate the flatfield using a flatfield that was either rotated cw or ccw.

-  Image C is that processed data from `get_fastccd_images(flat=None)`
- image D is C but with `flat=get_fastccd_flatfield()`.

If the code in the repo is correct, D should match F.  H shows the difference between D and

[2020-02-12 19:13] ambarb opened #70 "Should we change default behavior get_fastccd_images to use a flatfield of (almost) all ones?"
In the discussion of

https://github.com/NSLS-II-CSX/csxtools/issues/68#issuecomment-585349684

I noticed that pixels without photons are different values if the flat field is not applied to `get_fastccd_images()`.  For consistency in working with other codes/GUIs not in csxtools, should we change the behavior to match if a flatfield is not provided?

Using an array of all 1's as the flatfield wil

[2020-02-12 19:18] ambarb commented on #70
Added "almost" because we need a mask for the bad pixels for this to work - either an old flatfield that convert all pixels to 1.00000 if it is not `nan`.

[2020-04-14 22:52] ambarb commented on #56
unsure if this particualr instance was ever fixed.  Noting that we used `databroker 0.13.0` doesn't play nice with the default HDF5 handler for area-detector.  Only get_table() seems to work (which is why CSXtools still uses it.  Testing with @danielballan confirmed handler issue.  However, the issue is not present in `databroker 1.0.2`

@leofang FYI, but I don't think we are ready to make the swi

[2020-04-29 15:24] mpmdean commented on #64
Hi @danielballan
This is fixed in v0.1.15, which one can install into a custom environment, but the current kernels at CSX feature v0.1.13.

![Screen Shot 2020-04-29 at 11 16 17 AM](https://user-images.githubusercontent.com/699991/80613703-9eb29b00-8a0b-11ea-817d-e0749727f748.png)
![Screen Shot 2020-04-29 at 11 15 36 AM](https://user-images.githubusercontent.com/699991/80613705-9f4b3180-8a0b-11ea-

[2020-05-05 17:26] ambarb commented on #70
https://github.com/scikit-beam/scikit-beam/issues/563
@cmazzoli @wen-hu

It may be better to not have `NaNs` in the flatfield corrected images because of skbeam functions. Or atleast have a bit more control on where NaNs go or prevent bad flat field images that create NaN-ed pixels in regions where we would not expect .

[2020-07-08 15:10] tankonst opened #73 "get_fastccd_images() does not work with roi given as input"
When roi coordinates are passed to
`get_fastccd_images(h, (bgnd8, bgnd2, bgnd1), flat=ff, tag='fccd_image', roi = (0, 0, 50, 50))`
the function returns an AttributeError.

AttributeError                            Traceback (most recent call last)
<timed exec> in <module>

/opt/conda_envs/analysis-2019-3.0-ml/lib/python3.7/site-packages/csxtools/utils.py in get_fastccd_images(light_header, dark_he

[2020-07-08 15:34] ambarb commented on #73
@tankonst thanks for making it clear that this is an issue.  see https://github.com/NSLS-II-CSX/csxtools/issues/68 for more discussion.  I think we agreed first with DAMA that we would wait until the data handler was fixed for data broker catalogs worked.  It does now.  The next step is to implement catalogs instead of get_images.

It is probably worth planning on how were are going to do this and

[2020-07-08 17:26] tankonst commented on #73
@ambarb yes, it makes sense. I was just thinking that it probably should be faster for for users to load only part of the image (aka 'area1' in the current notebook) for analysis of different scans in the same experiment. But this is not a top priority. I am closing it then since the issue was discussed in #68 (sorry, I haven't noticed before posting).

[2020-07-08 17:28] ambarb commented on #73
@tankonst I don't mind leaving it open.  It makes it clear to anyone else new.  The discussion is reference, but hard to trek through.

[2020-07-08 17:28] leofang commented on #68
rel: #73

[2020-08-31 21:52] ambarb opened #74 "swmr says it is enabled but it doesn't seem to work"
This scan is a step scan, mid-way or more through. Using `get_fastccd_images()`

[code]

[2020-10-31 23:34] ambarb opened #75 "Strange error related to dark image scan with x2 gain"
Possible corrupt data for gain2???
Using `None` or` db[354022]` works for bgnd2, but the scan that is supposed to be used results in an error (`db[135026]`).

[code]

[code]

[2020-10-31 23:43] ambarb commented on #75
### Can load the raw x1 gain dark images.
-used with the above code

[code]

### Can _NOT_ load the raw x2 gain dark images.
-used with the above code

[code]
[code]

[2020-10-31 23:44] ambarb commented on #75
So need to try to load from file directly not using `get_fccd_images()` to understand if something bad happened to this file.

[2020-11-06 13:48] ambarb opened #76 "Logging module no longer works"
https://github.com/NSLS-II-CSX/csxtools/blob/master/examples/Correct_FastCCD_Images.ipynb

I cannot reproduce this notebook.  Logging code is still in the functions of CSXtools (and the level is set to the same value ("info").

[2020-11-24 21:47] ambarb opened #77 "fccd flatfield function doesn't handle the broken part of the camera very well"
@patryk-w figured this out and has some temporary code he is using.

to move forward, do we want a bandaid function that we deprecate later?

Or do we want to alter the existing flatfield function to be configurable for bad areas of the ccd?
options in clude using argments to exclude areas or referencing a bad pixel mask.

- [x] fast fix
- [ ] sophisticated fix

[2021-01-13 22:55] ambarb commented on #74
This may be some other issue not associated with the profile. I believe there is also a trac issue.  If we are changing how we save the data (as per @stuwilkins project for image saving), then perhaps we can close this.

https://controlsweb.nsls2.bnl.gov/trac/ticket/4799

[2021-01-13 23:03] ambarb commented on #77
From @patryk-w

[code]

[2021-01-13 23:09] ambarb commented on #57
note that this is broken for jupyterlab (not notebook) for reasons to do with webpage rendering.  Help on how to proceed would be good.

Current thinking is to use mp4 writer and ipython widgets.  However, this does not embed the "movie" in a gist render.

[2021-01-13 23:12] ambarb commented on #62
@ambarb verify for current matplotlib version

[2021-01-13 23:18] ambarb commented on #66
We need to investigate further:
- [ ] Is the problem  with fet_table() or is it within in the csxtools code
- [ ] Is this a problem using .data and/or catalogs?
- [ ] Need to expand test cases to be XPCS data (which is a separate problem) and scan data.

[2021-07-14 19:08] ambarb opened #78 "Remove hard-coded rows and columns because this changes"
https://github.com/NSLS-II-CSX/csxtools/blob/52ff964439005c8340e71d77d2a73b22a71dba05/csxtools/utils.py#L318-L319

two options:

- [ ] pass as arguments
- [ ] look at fccd descriptors for epics plugin that reshapes the "live" image at the Beamline

[2021-07-14 19:20] ambarb opened #79 "Potential place for controlling dark image searching"
https://github.com/NSLS-II-CSX/csxtools/blob/52ff964439005c8340e71d77d2a73b22a71dba05/csxtools/utils.py#L74-L77

`get_fastccd_images()` is provisioned to search database.  I've developed some code that does this, but I envisioned using it this new function to find the arguments as input to `get_fastccd_images()`.  This way, it is easier to track provenance of corrected images.

Open for thoughts e

[2021-10-20 02:31] mpmdean opened #80 "flat field issue"
The calculate_flatfield function has an issue when it is used with the current state of the CSX detector.

The problem is that more than 1/2 the detector is insensitive to light, so the median is not representative of the true data. The line below then means that the data and limits get re-scaled to unreal values.

https://github.com/NSLS-II-CSX/csxtools/blob/52ff964439005c8340e71d77d2a73b22a71dba

[2021-10-20 15:20] mpmdean commented on #80
I didn't spot that prior version of the same issue. I think this can be closed.

[2021-10-20 15:38] #80 closed

[2022-01-19 20:57] mrakitin opened #81 "conda packaging for Python 3.10"
https://github.com/conda-forge/csxtools-feedstock/pull/3 failed with a missing import. Need to resolve it on the package level and release a new version with the fix.

[code]

[2022-01-19 22:06] ambarb commented on #81
slack channel note:
`from collections.abc import Iterable`

[2022-09-02 18:49] ambarb commented on #77
we've noticed that the levels on the broken side change.  This makes it a little hard to use a general threshold in an automated way.  Lets just get something that works now.

For future threshold, we can now build some historical data for generalized testing of whatever this new function will be.  There is a new function that labels the flatfield data appropriately at csx `ct_flatfield()`

[2022-09-02 21:58] ambarb commented on #62
@mpmdean  this function works now magically at jupyter.nsls2.bnl.gov so I will close this issue.

[2022-09-02 21:58] #62 closed

[2022-09-02 22:11] ambarb opened #84 "Fix deprecation warnings on tests."
[code]

[2022-09-19 22:10] mrakitin commented on #62
I think it's because `ffmpeg` is now installed as a system package in Docker/Singularity as instructed in https://github.com/NSLS-II/scipy-binder/blob/a1a7e867e329b18ee18f05687727dff2eb3cc318/binder/apt.txt#L3.